.App {
  text-align: center;
  height: 100vh;
}

.ant-layout-sider-zero-width-trigger {
  z-index: 1;
}

.leaflet-container {
  width: 100%;
  height: 100vh;

}


.leaflet-control-zoom {
  display: none;
}
.leaflet-control-attribution {
  display: none;
}
.ant-layout {
  width: 100%;
  height: 100%;
}


.logo {
  height: 32px;
  margin: 16px;

}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
  height: 100%;
}