.App {
  height: 100vh;
}

.ant-layout-sider-zero-width-trigger {
  z-index: 1;
}

.leaflet-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 0;
  height: 93vh;
  
}
html, body, #map {
  height: 100%;
  width: 100%;
}

.leaflet-control-zoom {
  display: none;
}
.leaflet-control-attribution {
  display: none;
}
.ant-layout {
  width: 100%;
  height: 100%;
}


.logo {
  height: 32px;
  margin: 16px;
  text-align: center;

}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
  height: 100%;
}


.control-menu {
  position: absolute;
  top: 0rem;
  right: 0rem;
  background: #fff;
  z-index: 1;
  max-height: 85vh;
  min-width: 25%;
  overflow-y: scroll;
}

.datePicker {
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
}

.control-bottons {
  text-align: left;
  position: absolute;
  bottom: .5rem;
  left: .5rem;
}