.settings {
  justify-content: flex-end;
  height: 6vh;
}

.header-menu {
  justify-content: flex-start;
}


.setting-menu-item{
  margin-right: 1rem;
}


.proposal-page {
  padding: 1rem;
}

.satellite-image-page, .satellite-image-page-item {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}