.settings {
  justify-content: flex-end;
  height: 6vh;
}

.header-menu {
  justify-content: flex-start;
}


.setting-menu-item{
  margin-right: 1rem;
}


.proposal-page {
  padding: 1rem;
}

.satellite-image-page, .satellite-image-page-item {
  max-height: calc(94vh - .5rem);
  padding: .5rem;
}

.imagery-grid {
  padding: 0.5rem;
}

.satellite-image-page-item-row {
  max-height: calc(94vh - 2rem);
  overflow-y: scroll;
}


.ant-card-cover img {
  height: 100%;
}