.settings {
  justify-content: flex-end;
  height: 6vh;
}

.header-menu {
  justify-content: flex-start;
}


.setting-menu-item{
  margin-right: 1rem;
}


.proposal-page {
  padding: 2rem;
  height: 94vh;
  background-color: #FFF;
  overflow-y: scroll;
}

.satellite-image-page, .satellite-image-page-item {
  max-height: calc(94vh - .5rem);
  padding: .5rem;

}

.imagery-grid {
  padding: 0.5rem;
}

.satellite-image-page-item-row {
  max-height: calc(94vh - 2rem);
  overflow-y: scroll;
}


.ant-card-cover img {
  height: 20vh;
}

.ant-card {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}